<footer class="footer bg-light">
  <div class="container">
    <h5>© <%= Date.today.year %>Self Owned</h5>
      <ul>
        <li><%= link_to "Home", root_path %>
        </li>

        <li><%= link_to "Privacy", privacy_path %>
        </li>
      </ul>
  </div>
</footer>
