@import "node_modules/bootstrap/scss/bootstrap";
@import "map.css";
@import "ol5.css";

body {
  background-color: rgb(73,217,189);
}

.container {
 max-width : 90%;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  max-width: 80%;
  background-color: rgb(73,21,18);
}
