<!DOCTYPE html>
<html>
  <head>
    <title>RouteViewer</title>
    <%= render 'shared/header' %>
  </head>

  <body>
    <div class="row">
      <div class="col-sm-2 bg-warning">
        <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
